.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffbd39;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffbd39;
}
/* Container for cards */
.card-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center; /* Center the cards horizontally */
}

/* Card styling */
.card {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    flex: 1 1 900px; /* Minimum width for each card */
    max-width: 900px; /* Maximum width for each card */
}

/* Image styling */
.card-img-top {
    width: 100%;
    height: auto;
}

.main-card:hover { 
    transform: scale(1.05); 
}

.im {
    width: 100%;
    height: auto;
}

.fixed-header {
    background-color: #f8f9fa; 
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.city-heading { 
    margin: 0;
}

.home-btn a {
    margin-right: 10px; 
}

.btn {
    margin: 5px;
}

.main-search {
    padding: 20px; 
}

.budget-input {
    position: relative;
    display: flex;
    align-items: center;
}

.budget-input .fa-indian-rupee-sign {
    position: absolute;
    left: 10px;
}

.budget-input input.form-control {
    padding-left: 30px;
}
